#SI_FlashMessage_Container {
	position: fixed;
	top: 0;
	right: 0;
	width: 505px;
	z-index: 999999;

	.SI_FlashMessage {
		position: relative;
		font-size: 14px;
		padding: 20px 27px;
		padding-left: 55px;
		margin: 10px;

		background: {
			color: #fff;
			repeat: no-repeat;
			position: 20px center;
		}

		-webkit-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0px 3px 0px 0px rgba(209, 209, 209, 1);
		box-shadow: 0px 3px 0px 0px rgba(209, 209, 209, 1);

		&.SI_FlashMessage_type_notice {
			background-image: url('chrome-extension://__MSG_@@extension_id__/images/notice.png');
		}

		&.SI_FlashMessage_type_error {
			background-image: url('chrome-extension://__MSG_@@extension_id__/images/error.png');
		}


		.SI_FlashMessage_msg {
			font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
			font-size: 20px;
			color: #295fa2;
			margin: 0;
			padding: 0;
		}

		.SI_FlashMessage_dismiss {
			display: block;
			position: absolute;
			top: 10px;
			right: 10px;
			background: url('chrome-extension://__MSG_@@extension_id__/images/dismiss.png') no-repeat center;
			border: 0;
			width: 20px;
			height: 20px;
			text-indent: -9999px;
			padding: 0;
			margin: 0;
			cursor: pointer;
		}
	}
}