/* line 1, ../../sass/content.scss */
#SI_FlashMessage_Container {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  z-index: 999999;
}
/* line 8, ../../sass/content.scss */
#SI_FlashMessage_Container .SI_FlashMessage {
  position: relative;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  padding: 10px;
  min-height: 50px;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
/* line 21, ../../sass/content.scss */
#SI_FlashMessage_Container .SI_FlashMessage.SI_FlashMessage_type_notice {
  background-color: #54cbf7;
}
/* line 25, ../../sass/content.scss */
#SI_FlashMessage_Container .SI_FlashMessage.SI_FlashMessage_type_error {
  background-color: #f93e3e;
}
/* line 30, ../../sass/content.scss */
#SI_FlashMessage_Container .SI_FlashMessage .SI_FlashMessage_msg {
  color: #000;
}
/* line 34, ../../sass/content.scss */
#SI_FlashMessage_Container .SI_FlashMessage .SI_FlashMessage_dismiss {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  border: 0;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
