<div class="SI_FlashMessage SI_FlashMessage_type_<%= it.type %>" >
	<p class="SI_FlashMessage_msg" role="alert"><%= it.msg %></p>

	<button class="SI_FlashMessage_dismiss" type="button">Dismiss</button>
</div>