<div class="SI_FlashMessage SI_FlashMessage_type_<%= it.type %>">
	<p tabindex="0" class="SI_FlashMessage_msg"><%= it.msg %></p>

	<button class="SI_FlashMessage_dismiss" type="button">Dismiss (Go to last focus, or next message (if any))</button>
</div>