<div class="SI_FlashMessage">
	<span tabindex="0" class="SI_FlashMessage_msg"><%= it.msg %></span>

	<button class="SI_FlashMessage_dismiss" type="button">Dismiss (Goes back to image, or next message (if any))</button>
</div>